<ion-content [fullscreen]="true" class="landing-content">
  <section class="landing-screen">

    <img src="assets/img/logo-daikoku.png" alt="Logo Daikoku" class="logo" />

    <div class="landing-text">
      <h1>
        ¡Bienvenido/a<br>
        a tomar el control<br>
        de tus finanzas!
      </h1>

      <ion-button class="login-button" expand="block" (click)="irLogin()">
        Iniciar sesión
      </ion-button>
    </div>

    <img src="assets/img/gatito.png" alt="Gatito" class="gatito" />

  </section>
</ion-content>